<div class="container">
  <div class="header">
      <div class="d-flex align-items-center gap-20 w-100">
          <button class="burger">
              <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M1 8H19" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M1 15H19" stroke="black" stroke-width="2" stroke-linecap="round"></path>
              </svg>
          </button>
          <div class="header__mobile">
              <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center gap-20 w-100">
                      <button class="burger">
                          <svg class="" width="20" height="16" viewBox="0 0 17 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.42773 1L15.287 15" stroke="black" stroke-width="2"
                                  stroke-linecap="round"></path>
                              <path d="M14.8594 1L1.00008 15" stroke="black" stroke-width="2"
                                  stroke-linecap="round"></path>
                          </svg>
                      </button>
                      <a href="{{home_link}}" class="logo header__logo">
                          <img src="{{logo}}" alt="logo" class="logo__default">
                          {# <img src="images/logo_business.svg" alt="logo" class="logo__business"> #}
                      </a>
                  </div>
                  <div class="d-flex align-items-center gap-20 gap-max-xl-10">
                      <a href="{{account}}" class="icon_login">
                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_1040_563)">
                                  <path
                                      d="M15 5C12.2375 5 10 7.2375 10 10C10 12.7562 12.2375 15 15 15C17.7625 15 20 12.7562 20 10C20 7.2375 17.7625 5 15 5ZM15 17.5C11.6687 17.5 5 19.1687 5 22.5V25H25V22.5C25 19.1687 18.3313 17.5 15 17.5Z"
                                      fill="black"></path>
                              </g>
                              <defs>
                                  <clipPath id="clip0_1040_563">
                                      <rect width="30" height="30" fill="white"></rect>
                                  </clipPath>
                              </defs>
                          </svg>
                      </a>
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle btn-dropdown" type="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              EN ($)
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">УКР (UAH)</a></li>
                          </ul>
                      </div>
                      <a href="{{home_link}}#tabs" class="btn btn-dark">{{ _e("Try now") }}</a>
                  </div>
              </div>
              <div class="d-flex flex-column align-items-center gap-40">
                  <ul class="menu burger__menu">
                      {% for link in links %}
                        <li class="menu__item">
                            <a href="{{link.href}}" class="menu__link {% if link.is_active %}active{% endif %}">{{link.text}}</a>
                        </li>
                      {% endfor %}
                      </li>
                  </ul>
                  <a href="{{home_link}}#tabs" class="btn btn-dark mobile-lg">{{ _e("Try now") }}</a>
              </div>
              <div class="d-flex flex-column align-items-center gap-20">
                  <a href="{{home_link}}" class="logo header__logo">
                      <img src="{{logo}}" alt="logo" class="logo__default">
                      {# <img src="images/logo_business.svg" alt="logo" class="logo__business"> #}
                  </a>
                  {{social_links}}
              </div>
          </div>
          <a href="{{home_link}}" class="logo header__logo">
              <img src="{{logo}}" alt="logo" class="logo__default">
              {# <img src="images/logo_business.svg" alt="logo" class="logo__business"> #}
          </a>
      </div>
      <div class="d-flex align-items-center justify-content-between">
          <ul class="menu header__menu">
              {% for link in links %}
                <li class="menu__item">
                    <a href="{{link.href}}" class="menu__link {% if link.is_active %}active{% endif %}">{{link.text}}</a>
                </li>
              {% endfor %}
          </ul>
          <div class="d-flex align-items-center gap-20 gap-max-xl-10 w-100">
              <a href="{{account}}" class="icon_login">
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_1040_563)">
                          <path
                              d="M15 5C12.2375 5 10 7.2375 10 10C10 12.7562 12.2375 15 15 15C17.7625 15 20 12.7562 20 10C20 7.2375 17.7625 5 15 5ZM15 17.5C11.6687 17.5 5 19.1687 5 22.5V25H25V22.5C25 19.1687 18.3313 17.5 15 17.5Z"
                              fill="black"></path>
                      </g>
                      <defs>
                          <clipPath id="clip0_1040_563">
                              <rect width="30" height="30" fill="white"></rect>
                          </clipPath>
                      </defs>
                  </svg>
              </a>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle btn-dropdown" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      EN ($)
                  </button>
                  <ul class="dropdown-menu" style="">
                      <li><a class="dropdown-item" href="#">УКР (UAH)</a></li>
                  </ul>
              </div>
              {# <a href="businessLogin.html" class="btn btn-transparent">Sign in</a> #}
              <a href="{{home_link}}#tabs" type="button" class="btn btn-dark">{{ _e("Try now") }}</a>
          </div>
      </div>
  </div>
</div>